h1{
    background-color: black;
    background-repeat: no repeat;
    color: yellow;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}
span{
    font-size: 2em;
    color: hsl(254, 87%, 44%);
}
body{

    background-color: antiquewhite;
    padding: 1em;
    border: solid;
    border-radius: 5px;
}
div{
    padding: 10px;
    size: 1em;
    float: right; 
}
b{
    font-size: 50px;
}
h4{
    color: green;
    font-size: 30px;
}
contact{
    padding: 0px;
    margin: 0px;
}
h5{
    font-size: 20px;
    color: blue;
}
h2{
    color: red;
    font-size: 30px;
    background-color: white;
    padding: 0px;
    
}